################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Foundation_11Aug/Helloworld/bin/Debug
/Foundation_11Aug/Helloworld/obj/Debug
